*{
    background-color: rgb(226, 216, 203);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }

.head {
    .click{
        cursor: pointer;
        background-color: #59536D;
        border-top:#59536D;
        border-bottom: #59536D;
        border-color: white;
        color:white;
        display: flex;
        padding: 10px 1vw; 
        align-items: right;
        font-size: 1.1em;
        width: 10vw;
    }
    .small{
        cursor: pointer;
        background-color: #59536D;
        border-top:#59536D;
        border-bottom: #59536D;
        border-color: white;
        color:white;
        display: flex;
        padding: 11px 1vw; 
        align-items: right;
        font-size: 0.9em;
        width: 10vw;
    }
    background-color: #59536D; 
    border-top-color: white;
    border-bottom-color: white;
    border-width: 3px;
    font-size: 1.2vw;
    color: white;
    padding: 15px 20px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    position: sticky;
}

.body{
    display: block;
    text-align: center;
    padding: 20px 50px;
    font-size: 1.2em;
}

p{
    display: block;
    text-align: center;
    margin: auto;
    width: 80%;
    margin-bottom: 50px;
}

nav {
    background-color: #59536D;
    display: flex;
    width: 100%;
    align-items: center;
}

.headers{
    display:block;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;

}

.titleimg{
    display:block;
    margin-top: 45px;
    margin-bottom: 100px;
    justify-items: center;
    width: 100%;    
}


.apply{
    .extLink{
        width: 12%;
        display: flex;
        margin: auto;
        margin-left: 12px;
        margin-right: 10px;
        image-rendering:pixelated;
    }
    background-color: #7A72D4;
    border-width: 3px;
    border-radius: 20px;
    display: flex;
    margin: auto;
    font-size: 3vw; /* Responsive text */
    width: 30%;
    color: rgb(255, 255, 255);
    padding: 15px 20px; 
    top: 0;
    border-color: rgb(255, 255, 255);
    align-items: center;
    margin-bottom: 120px;
    margin-top: 70px;
}

.questions{
    display: block;
    text-align: center;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}

.answers{
    display: block;
    text-align: center;
    margin: auto;
    width: 80%;
    margin-bottom: 40px;
}

.foot{
    background-color: #59536D; 
    font-size: 1.2vw;
    color: white;
    padding: 10px 30px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ftimg{
    width: 2.5vw;
    display: flex;
    background-color: #59536D;
    padding: 10px 3px;
    justify-content: space-between;
}

